<div class="container">
<mat-card class="receipt-card">
  <mat-card-content #receiptContent>
    <!-- Header -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header-section">
      <div>
        <div class="logo">
          <span class="mat-headline-4">La Financiére Villageoise</span>
          <div class="mat-subtitle-1">CAMEROUN</div>
        </div>
      </div>
      <div class="text-right">
        <span class="mat-caption">Imprimé le {{receiptData.date}} - {{receiptData.time}}</span>
      </div>
    </div>

    <!-- Title -->
    <div class="title-section" fxLayout="row" fxLayoutAlign="center center">
      <h2 class="mat-h2">Reçu de {{ getType(receiptData.transactionType) }} No {{receiptData.receiptNumber}}</h2>
    </div>

    <!-- Receipt Details -->
    <div fxLayout="row wrap" fxLayoutGap="20px grid" class="details-section">
      <div fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%">
        <mat-list>
          <mat-list-item>Agence: {{receiptData.agency.name}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Numéro de caisse: {{receiptData.agency.cashierNumber}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Numéro de compte: {{receiptData.agency.accountNumber}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Nom client: {{receiptData.agency.clientName}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Code agence client: {{receiptData.agency.agencyCode}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Montant: {{receiptData.agency.amount | number}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Nom Déposant: {{receiptData.agency.depositorName}}</mat-list-item>
        </mat-list>
      </div>

      <div fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%">
        <mat-list>
          <mat-list-item>Date et heure: {{receiptData.date}} - {{receiptData.time}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Nom caissier: {{receiptData.transaction.cashierName}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Code gestionnaire: {{receiptData.transaction.managerCode}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Devise: {{receiptData.transaction.currency}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Libellé: {{receiptData.transaction.description}}</mat-list-item>
          <mat-divider></mat-divider><br class="print-break">
          <mat-list-item>Montant en lettre: {{receiptData.transaction.amountInWords}}</mat-list-item>
        </mat-list>
      </div>
    </div>

<!-- Table -->
<table mat-table [dataSource]="receiptData.paymentDetails" class="mat-elevation-z2 w-100 my-4">

  <!-- Notes Column -->
  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef> Note/Pièces </th>
    <td mat-cell *matCellDef="let element"> {{element.denomination}} </td>
  </ng-container>

  <!-- Bills Received Column -->
  <ng-container matColumnDef="billsReceived">
    <th mat-header-cell *matHeaderCellDef> Nombre de billets reçus </th>
    <td mat-cell *matCellDef="let element"> {{element.count}} </td>
  </ng-container>

  <!-- Amount Received Column -->
  <ng-container matColumnDef="amountReceived">
    <th mat-header-cell *matHeaderCellDef> Montant reçu </th>
    <td mat-cell *matCellDef="let element"> {{element.count * element.denomination | number}} </td>
  </ng-container>

  <!-- Bills Returned Column -->
  <ng-container matColumnDef="billsReturned">
    <th mat-header-cell *matHeaderCellDef> Nombre de billets rendus </th>
    <td mat-cell *matCellDef="let element"> {{element.billsReturned}} </td>
  </ng-container>

  <!-- Amount Returned Column -->
  <ng-container matColumnDef="amountReturned">
    <th mat-header-cell *matHeaderCellDef> Montant rendu </th>
    <td mat-cell *matCellDef="let element"> {{element.amountReturned}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

    <!-- Totals -->
    <mat-card class="totals-card mat-elevation-z1">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>Total Reçu: {{receiptData.agency.amount | number}}</div>
        <div>Total Rendu: {{receiptData.amountReturned}}</div>
      </div>
    </mat-card>

    <!-- Signatures -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="signatures-section">
      <div class="signature-block">
        <p class="mat-caption">Signature Membre</p>
        <div class="signature-line"></div>
      </div>

      <div class="signature-block text-center">
        <div>
          <span>TRANSACTION VALIDEE</span>
        </div>
      </div>

      <div class="signature-block text-right">
        <p class="mat-caption">Signature/Cachet caissier</p>
        <div class="signature-line"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- Add a Print button to trigger printing -->
<div fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button color="primary" (click)="printComponent()">Print</button>
</div>
</div>
