<div class="container">

  <mat-card>
    <form [formGroup]="sessionCashForm" (ngSubmit)="submit()">
      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%" >
            <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
            <input matInput required formControlName="office">
          </mat-form-field>

          <mat-form-field fxFlex="48%" >
            <mat-label>{{ 'labels.inputs.Teller Name' | translate }}</mat-label>
            <input matInput required formControlName="tellerName">
          </mat-form-field>

          <mat-form-field fxFlex="48%" >
            <mat-label>{{ 'labels.inputs.Cashier' | translate }}</mat-label>
            <input matInput required formControlName="cashier">
          </mat-form-field>

          <mat-form-field fxFlex="48%" (click)="cashDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Date' | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="cashDatePicker" required formControlName="txnDate">
            <mat-datepicker-toggle matSuffix [for]="cashDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #cashDatePicker></mat-datepicker>
            <mat-error *ngIf="sessionCashForm.controls.txnDate.hasError('required')">
              {{ 'labels.inputs.Date' | translate }} {{ 'labels.commons.is' | translate }} <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" >
            <mat-label>{{ 'labels.inputs.Currency' | translate }}</mat-label>
            <mat-select required formControlName="currencyCode">
              <mat-option *ngFor="let currency of cashierData.currencyOptions" [value]="currency.code">
                {{ currency.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sessionCashForm.controls.currencyCode.hasError('required')">
              {{ 'labels.inputs.Currency' | translate }} {{ 'labels.commons.is' | translate }} <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" >
            <mat-label>{{ 'labels.inputs.Opening Amount' | translate }}</mat-label>
            <input matInput required formControlName="openingBalance" >
            <mat-error *ngIf="sessionCashForm.controls.openingBalance.hasError('required')">
              {{ 'labels.inputs.Amount' | translate }} {{ 'labels.commons.is' | translate }} <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <!-- Closing amount for closing session -->

          <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

            <!-- Montant de clôture -->
            <mat-form-field fxFlex="48%">
              <mat-label>{{ 'labels.inputs.Closing Amount' | translate }}</mat-label>
              <input matInput required formControlName="closingBalance">
              <mat-error *ngIf="sessionCashForm.controls.closingBalance.hasError('required')">
                {{ 'labels.inputs.Amount' | translate }} {{ 'labels.commons.is' | translate }} <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="48%" >
              <mat-label>{{ 'labels.inputs.txnNote' | translate }}</mat-label>
              <input matInput required formControlName="txnNote">
            </mat-form-field>
            <!-- Section pour le billetage -->
            <div fxFlex="100%" style="margin-top: 20px;">
              <h3>{{ 'labels.inputs.Denomination' | translate }} <span *ngIf="isMismatchTotal" style="color: red;" >{{ 'labels.errors.MismatchTotal' | translate }}</span></h3>
              <app-billetage
              [currencyCode]="currencyCode"
              (billetageChange)="handleBilletageChange($event)">
            </app-billetage>
            </div>

            <!-- Validation si le billetage ne correspond pas au montant de clôture -->
            <div  fxFlex="100%" >
              <span *ngIf="isMismatchTotal" style="color: red;" >{{ 'labels.errors.MismatchTotal' | translate }}</span>
            </div>

          </div>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ 'labels.buttons.Cancel' | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!sessionCashForm.valid || isMismatchTotal">
          {{ 'labels.buttons.CloseSession' | translate }}
        </button>
      </mat-card-actions>

    </form>
  </mat-card>

</div>
