<div class="container">
  <mat-card>
    <form [formGroup]="cashTransferForm" (ngSubmit)="submitTransfer()">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <!-- Source Cashier -->
          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Source Cashier' | translate }}</mat-label>
            <mat-select required formControlName="sourceCashier" >
              <mat-option *ngFor="let cashier of [cashierData]" [value]="cashier.id">
                {{ cashier.name }}
              </mat-option>
            </mat-select>
            <input matInput type="text" required formControlName="sourceCashier" [value]="cashierData.id">
          </mat-form-field>

          <!-- Target Cashier -->
          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Target Cashier' | translate }}</mat-label>
            <mat-select required formControlName="targetCashier">
              <mat-option *ngFor="let cashier of cashiersData" [value]="cashier.id">
                {{ cashier.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Transfer Date -->
          <mat-form-field fxFlex="48%" (click)="transferDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Transfer Date' | translate }}</mat-label>
            <input matInput [matDatepicker]="transferDatePicker" required formControlName="txnDate">
            <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transferDatePicker></mat-datepicker>
          </mat-form-field>

          <!-- Transfer Amount -->
          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Transfer Amount' | translate }}</mat-label>
            <input matInput type="number" required formControlName="txnAmount">
          </mat-form-field>

          <!-- Denomination Section -->
          <div fxFlex="100%" style="margin-top: 20px;">
            <h3>{{ 'labels.inputs.Denomination' | translate }}</h3>
          </div>

          <!-- Denomination fields corresponding to the transfer amount -->
          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Bill10000FCFA' | translate }}</mat-label>
            <input matInput type="number" formControlName="bill10000" (input)="calculateTotal()">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Bill5000FCFA' | translate }}</mat-label>
            <input matInput type="number" formControlName="bill5000" (input)="calculateTotal()">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Bill2000FCFA' | translate }}</mat-label>
            <input matInput type="number" formControlName="bill2000" (input)="calculateTotal()">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Bill1000FCFA' | translate }}</mat-label>
            <input matInput type="number" formControlName="bill1000" (input)="calculateTotal()">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Coin500FCFA' | translate }}</mat-label>
            <input matInput type="number" formControlName="coin500" (input)="calculateTotal()">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ 'labels.inputs.Coin100FCFA' | translate }}</mat-label>
            <input matInput type="number" formControlName="coin100" (input)="calculateTotal()">
          </mat-form-field>

          <!-- Total Amount Calculated -->
          <div fxFlex="100%" style="margin-top: 20px;">
            <p>{{ 'labels.inputs.TotalAmount' | translate }}: {{ calculatedTotal }} FCFA</p>
          </div>

          <!-- Mismatch Validation -->
          <div *ngIf="isMismatchTotal" fxFlex="100%" style="color: red;">
            <p>{{ 'labels.errors.MismatchTotal' | translate }}</p>
          </div>
          <mat-form-field fxFlex="48%" >
            <mat-label>{{ 'labels.inputs.txnNote' | translate }}</mat-label>
            <input matInput required formControlName="txnNote">
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ 'labels.buttons.Cancel' | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!cashTransferForm.valid || isMismatchTotal" *mifosxHasPermission="'TRANSFERCASHIER_TELLER'">{{ 'labels.buttons.Submit' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
