<div class="container">

  <mat-card>

    <h2 mat-title *ngIf="transactionType.withdrawal">{{'labels.heading.Withdraw Money From Saving Account' | translate}}</h2>
    <h2 mat-title *ngIf="transactionType.deposit">{{'labels.heading.Deposit Money To Saving Account' | translate}}</h2>

    <form [formGroup]="savingAccountTransactionForm" (ngSubmit)="submit()">

      <mat-card-content fxLayout="column">

        <mat-form-field (click)="dueDatePicker.open()">
          <mat-label>{{'labels.inputs.Transaction Date' | translate}}</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker"
            formControlName="transactionDate" required>
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
          <mat-error *ngIf="savingAccountTransactionForm.controls.transactionDate.hasError('required')">
            {{'labels.inputs.Transaction Date' | translate}} {{ "labels.commons.is" | translate}} <strong>{{ "labels.commons.required" | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'labels.inputs.Transaction Amount' | translate}}</mat-label>
          <span matTextSuffix class="m-l-10">{{ currencyCode }}</span>
          <span fxFlex="auto"></span>
          <input type="number" class="right-input" formControlName="transactionAmount" required matInput />
          <mat-error *ngIf="savingAccountTransactionForm.controls.transactionAmount.hasError('required')">
            {{'labels.inputs.Transaction Amount' | translate}} {{ "labels.commons.is" | translate}} <strong>{{ "labels.commons.required" | translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'labels.inputs.Payment Type' | translate}}</mat-label>
          <mat-select required formControlName="paymentTypeId">
            <mat-option *ngFor="let paymentType of paymentTypeOptions" [value]="paymentType.id">
              {{ paymentType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="isDeposit">
          <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
            <div>
              <mat-table [dataSource]="billsDenominations" class="bills-table" mat-table>
      
                <!-- Denomination Column -->
                <ng-container matColumnDef="denomination">
                  <mat-header-cell *matHeaderCellDef> Denomination </mat-header-cell>
                  <mat-cell *matCellDef="let bill"> {{bill.denomination}} </mat-cell>
                </ng-container>
              
                <!-- Number of Bills Column -->
                <ng-container matColumnDef="numberOfBills">
                  <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
                  <mat-cell *matCellDef="let bill">
                    <input type="number" [formControlName]="'numberOfBills_' + bill.denomination" matInput min="0" placeholder="0"/>
                  </mat-cell>
                </ng-container>
              
                <!-- Total Amount Column -->
                <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                  <mat-cell *matCellDef="let bill">
                    <input type="number" [formControlName]="'totalAmount_' + bill.denomination" matInput readonly class="form-control" placeholder="0"/>
                    <span>{{ currencyCode }}</span>
                  </mat-cell>
                </ng-container>
              
                <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              
              </mat-table>
            </div>
            <div>
              <mat-table [dataSource]="smallCoins" class="bills-table" mat-table>
      
                <!-- Denomination Column -->
                <ng-container matColumnDef="denomination">
                  <mat-header-cell *matHeaderCellDef> Denomination </mat-header-cell>
                  <mat-cell *matCellDef="let bill"> {{bill.denomination}} </mat-cell>
                </ng-container>
              
                <!-- Number of Bills Column -->
                <ng-container matColumnDef="numberOfBills">
                  <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
                  <mat-cell *matCellDef="let bill">
                    <input type="number" [formControlName]="'numberOfBills_' + bill.denomination" matInput min="0" class="form-control" placeholder="0"/>
                  </mat-cell>
                </ng-container>
              
                <!-- Total Amount Column -->
                <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                  <mat-cell *matCellDef="let bill">
                    <input type="number" [formControlName]="'totalAmount_' + bill.denomination" matInput readonly placeholder="0" min="0"/>
                    <span>{{ currencyCode }}</span>
                  </mat-cell>
                </ng-container>
              
                <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              
              </mat-table>
            </div>
          </div>
          <!-- Total Amount -->
          <div class="total-section m-t-4">
              <div class="m-t-20">
                {{'labels.inputs.Total Amount of Deposit' | translate}}:
                <input type="number" class="d-none" formControlName="totalDepositAmount" matInput readonly />
                <span class="success-message">{{totalDepositAmount}} {{ currencyCode }}</span>
              </div>
              <div class="m-t-20">
                {{'labels.inputs.Total Amount in Words' | translate}}:
                <input type="text" class="d-none" formControlName="totalAmountInWords" matInput readonly />
                <span class="success-message">{{totalAmountInWords}} Franc CFA</span>
              </div>
          </div>
          <!-- Label outside the form field wrapper -->
          <div *ngIf="savingAccountTransactionForm.hasError('amountMismatch')">
            <p class="error-message">Transaction amount must match the total deposit amount.</p>
          </div>  
          <div formArrayName="sourceOfFunds" class="m-t-20">
            <label>{{ 'labels.inputs.Source of Funds' | translate }}</label>
            <div>
              <ng-container *ngFor="let source of sourcesOfFundsOptions; let i = index">
                <mat-checkbox [formControlName]="i">{{ source }}</mat-checkbox>
              </ng-container>
            </div>
          </div>
        </div>
      
        <div fxFlexFill class="m-t-40">
          <span fxFlex="75%" class="expandcollapsebutton m-l-10 m-t-4" (click)="addPaymentDetails()">
            <mat-slide-toggle>
              <div [className]="addPaymentDetailsFlag ? 'enabled' : 'disabled'">
                <span class="m-l-10">{{'labels.inputs.Show Payment Details' | translate}}</span>
              </div>
            </mat-slide-toggle>
          </span>
        </div>

        <mat-form-field *ngIf="addPaymentDetailsFlag">
          <mat-label>{{'labels.inputs.Account Number' | translate}}</mat-label>
          <input type="number" formControlName="accountNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="addPaymentDetailsFlag">
          <mat-label>{{'labels.inputs.Cheque' | translate}}</mat-label>
          <input type="number" formControlName="checkNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="addPaymentDetailsFlag">
          <mat-label>{{'labels.inputs.Routing Code' | translate}}</mat-label>
          <input formControlName="routingCode" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="addPaymentDetailsFlag">
          <mat-label>{{'labels.inputs.Receipt Number' | translate}}</mat-label>
          <input formControlName="receiptNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="addPaymentDetailsFlag">
          <mat-label>{{'labels.inputs.Bank' | translate}}</mat-label>
          <input formControlName="bankNumber" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'labels.inputs.Deposit Name' | translate}}</mat-label>
          <textarea formControlName="DepositName" matInput cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'labels.inputs.Notes' | translate}}</mat-label>
          <textarea formControlName="note" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
        </mat-form-field>
        <mat-card-actions fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button type="button" mat-raised-button [routerLink]="['../../transactions']">{{'labels.buttons.Cancel' | translate}}</button>
          <button mat-raised-button color="primary" [disabled]="!savingAccountTransactionForm.valid">{{'labels.buttons.Submit' | translate}}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
