<div class="container" id="receipt-section">
  <mat-card>
    <mat-card-title>{{ 'labels.receipt.TransferReceipt' | translate }}</mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
        <!-- Source Cashier -->
        <div fxFlex="48%">
          <strong>{{ 'labels.receipt.SourceCashier' | translate }}:</strong> {{ receiptData.sourceCashier }}
        </div>

        <!-- Target Cashier -->
        <div fxFlex="48%">
          <strong>{{ 'labels.receipt.TargetCashier' | translate }}:</strong> {{ receiptData.targetCashier }}
        </div>

        <!-- Transfer Date -->
        <div fxFlex="48%">
          <strong>{{ 'labels.receipt.TransferDate' | translate }}:</strong> {{ receiptData.txnDate | date }}
        </div>

        <!-- Transfer Amount -->
        <div fxFlex="48%">
          <strong>{{ 'labels.receipt.TransferAmount' | translate }}:</strong> {{ receiptData.txnAmount }} FCFA
        </div>

        <!-- Denominations -->
        <table class="denomination-table pt-3">
          <thead>
            <tr>
              <th>{{ 'labels.inputs.Denomination' | translate }}</th>
              <th>{{ 'labels.inputs.Count' | translate }}</th>
              <th>{{ 'labels.inputs.Total' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of receiptData.billetage">
              <td>{{ item.denomination }}</td>
              <td>{{ item.count }}</td>
              <td>{{ calculateRowTotal(item) | number }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"> <strong>{{ 'labels.receipt.TotalAmount' | translate }}:</strong></td>
              <td>{{ calculateGrandTotal() | number }} </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="printReceipt()">{{ 'labels.buttons.PrintReceipt' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
